html{
    scroll-behavior: smooth;
}

.quiz-containter > *{
    font-size: 1vw;
}

.quiz-containter{
    display: flex;
    flex-direction: column;
}

.quizCard-container{
    display: flex;
    flex-direction: column;
    gap: 1.75vw;
    padding: 2vw;
}

.quizCard-answer-container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 1.75vw;
}

.answer{
    color: #53767c;
    padding: 0.5rem;
}

.selected{
    background-color: #000000de;
    color: #ffffffde;
}

.sumbitBtn-container{
    display: grid;
    place-content: center;
    padding: 3.5vw;
}

.result-container{
    display: flex;
    font-size: 2vw;
    padding: 3.5vw;
    color: #506f08;
    border-top: solid #000000de;
    justify-content: space-between;
    align-items: center;
}

.result-btn-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3.5vw;
    color: #000000de;
}

.review, .exit{
    padding: 0.875vw;
    border-radius: 1.75vw;
}

.review:hover, .exit:hover{
    background-color: #fc7d6c;
    color: #ffffffde;
}
