@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --correct-green: #506f08;
    --incorrect-red: #ef4341;
    --scarlet: #fc7d6c;
    --lessbright-white: #ffffffde;
    --greenish-gray:#53767c;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(0.25turn, var(--greenish-gray), var(--lessbright-white), var(--scarlet));    
}

img{
    max-width: 100%;
    max-height: 100%;
}

main{
    width: 80%;
    margin: 2rem auto;
    background-color: #ffffffde;
    border-radius: 3.75vw;
}

.correct{
    background-color: var(--correct-green);
    color:  var(--lessbright-white);
}

.incorrect{
    background-color: var(--incorrect-red);
    color: var(--lessbright-white);
}